.userInfoContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imgUserInfo {
    width: 100px;
}
.name {
    font-size: 27px;
}
.button-follow {
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #f3611e;
    color: #fff;
    cursor: pointer;
}
.button-follow:hover {
    color: #f3611e;
    background-color: gainsboro;
}
.headerSection {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gainsboro;
}
.headerSection nav {
    margin: 10px;
}
.headerSection nav p {
    color : gainsboro;
}
.body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: darkgrey;
    width: 60%;
}
.body p {
    cursor: pointer;
    text-align: start;
}
.body-active:hover {
    color: #000;
    font-weight: bold;
}